@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    font-family: "Young Serif", serif;
    justify-content: center;
    margin: 0;
}
body {
    background-color: bisque;
}
#tudo {
    background-color: bisque;
}
.topo{
    background-color: white;
    max-width: 700px;
    min-width: 280px;
    margin: auto;
    box-shadow: 5px 5px 20px hsl(14, 45%, 36%);
    border-radius: 20px;
}
.principal {
    width: 90%;
    margin: auto;
}
.tempo {
    width: 85%;
    margin: 5%;
    padding: 1px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    line-height: 35px;
    text-align: justify;
    ::marker {color: hsl(332, 51%, 32%)}
}
.ingredientes {
    width: 90%;
    margin: auto;
    line-height: 30px;
    ::marker {color: hsl(14, 45%, 36%);}
}
.intrucao {
    width: 90%;
    margin: auto;
    line-height: 30px;
    ::marker {color: hsl(14, 45%, 36%);}
    ::marker {font-weight: bold;}
}
.nutricao {
    width: 90%;
    margin: auto;
    line-height: 20px;
    text-align: justify;
    padding: 10px;
    span {
        color: hsl(14, 45%, 36%);
        font-weight: bold;
    }
    ul{
        word-spacing: 200px;
    }
}
.imagem {
    margin: 20px;
    justify-content: center;
    padding-top: 20px;
}
img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
h1 {
    color: hsl(14, 45%, 36%);
    font-size: 25px;
}
h3 {
    color: hsl(332, 51%, 32%);
}
p {
    color: black;
}
.rodape {
    margin: auto;
    clear: both;
    text-align: center;
    padding: 20px 10px 10px 10px;
}
